*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.3%;
}
.container{
    background-color: #222;
}
.container .heading{
    font-size: 3rem;
    padding: 2rem 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0;
}
.container .music-container{
    display: flex;
    align-items: center;
    flex-flow: column;
}
.container .music-container .box{
    height: 16rem;
    width: 80%;
    display: flex;
    align-items: center;
    background-color: #f9f99f;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem #000;
    overflow: hidden;
    margin: 2rem;
}
.container .music-container .box .img{
    height: 100%;
    width: 25%;
}
.container .music-container .box .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* object-position: center -57px; */
}
.container .music-container .box .music{
    width: 75%;
}
.container .music-container .box .music audio{
    width: 100%;
    outline: none;
}
.container .music-container .box .music audio::-webkit-media-controls-enclosure{
    background: none;
}

@media (max-width:600px) {

    .container .music-container .box{
        flex-flow: column;
        height: 27rem;
        width: 90%;
    }
    
    .container .music-container .box .img{
        height: 80%;
        width: 100%;
    }
    .container .music-container .box .music /*::-webkit-media-controls-enclosure*/{
        height: 20%;
        width: 100%;
    }
}